@model IEnumerable<POS.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.I_productName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.I_productBrand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.I_productModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_PID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductQTY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.I_productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.I_productBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.I_productModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_PID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Inventory_PID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Inventory_PID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Inventory_PID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
